// BREAKPOINTS
$break-small          : 450px;
$break-medium         : 700px;
$break-large-medium   : 1000px;
$break-large          : 1100px;

// GRIDS
$collapse-grid-at     : $break-medium;

// COLORS
$main                 : rgba(158,0,93,1);
$main-transparent     : rgba(158,0,93,.6);
$black                : #000;
$off-white            : #f4f4f4;

// TYPE

$main-type            : 'Open Sans', helvetica, arial;