// BREAKPOINTS
$break-small          : 450px;
$break-medium         : 700px;
$break-large-medium   : 1000px;
$break-large          : 1100px;

// GRIDS
$collapse-grid-at     : $break-medium;

// COLORS
$teal                 : rgba(0,169,157,1);
$teal-transparent     : rgba(0,169,157,.8);
$black                : #000;
$off-white            : #f4f4f4;

// TYPE

$main-type            : 'Open Sans', helvetica, arial;